extends layout

block head-extra
  script(src="/js/donetyping.js")
  script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
  script(src="/js/newevent_map.js")

block content
  div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        if user
          a.circle
            img(src="https://graph.facebook.com/" + user.facebook_id + "/picture?width=32&height=32")

        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Переключити навігацію
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Гарячі точки
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") Повідомлення
          li
            a(href="/people") Люди
          li
            a(href="#") Контакти
          if user
            li
              a(href="/auth/logout") Вийти
          else
            li
              a(href="/auth/facebook") Увійти з Facebook


  div.container
    div.row

      div.col-md-2
      div.col-md-8
        div.jumbotron
          h3 Створити нову подію
          div.content
            - if (errors)
              div.panel.small
                p.error= "Будь ласка, виправте помилки:"
                ul
                  - each error in errors
                    li= error.msg
            form#newEvent.form-vertical(name="newevent", method="post", action="")
              div.form-group
                input#title.form-control(type="text", name="title", placeholder="Що трапилось?")
              div.form-group
                input#address.form-control(type="text", name="address", placeholder="Де?")
              div.form-group
                div#address-map
              div.form-group
                textarea#description.form-control(rows="5", placeholder="Розкажіть детальніше", name="description")
              input#latitude(type="hidden", style="display:none;", name="latitude")
              input#longitude(type="hidden", style="display:none;", name="longitude")
              button#btnSubmit.btn.btn-success(type="submit") Повідомити!

      div.col-md-2
    hr

    footer
      p &copy; Notif 2013


