body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

#map {
    width:100%;
    height:600px;
}

/* Circle Avatar Styles */
.circle {
    line-height: 0;     /* remove line-height */
    display: inline-block;  /* circle wraps image */
    margin: 5px;
    border-radius: 50%; /* relative value */
    border: 3px solid white;/* border width   */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    transition: linear 0.25s;
}
.circle img {
    border-radius: 50%; /* relative value for
                   adjustable image size */
}
.circle:hover {
    transition: ease-out 0.3s;
    transform: scale(0.8) rotate(20deg);
}
a.circle { color: transparent; } /* IE fix: removes blue border */